<script src="https://code.jquery.com/jquery.js"></script>

{{!-- TODO: add city to the seller db --}}
<div class="portfolio-item" data-groups='["all", "{{address}}"]'>

  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img id="GS-image" class="activator" alt="image">
    </div>
    <div class="card-content">
      <div class="counter-icon">{{sellerCount}}</div>
      <span class="card-title activator">{{name}} <img src="/img/map.png" alt="Map" height="20px" width="20px"></span>
      <p><a href="#">Location: {{address}}</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title">{{name}} <i class="material-icons right">&#xE5CD;</i></span>
      <p><a href="#">Website</a></p>
      <p>{{message}}</p>
      <a href="#" class="readmore">View full project</a>
      <div class="items-list">
        <br>
        <strong>Items for sale: </strong>
        <br>
        <ul>
          {{#each items}}
          <li>{{name}}</li>
          {{/each}}
        </ul>
      </div>



    </div>
  </div><!-- /.card -->
</div><!-- /.portfolio-item -->